.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-panel {
  padding: 5px;
  width: 50%;
}

.right-panel {
  padding: 5px;
  width: 50%;
}

.resize-handle {
  background-color: lightgray;
  width: 5px;
  cursor: col-resize;
}
